// 异步加载的暗黑模式 暗黑模式 CSS 变量

async_dark()
  // Stellar tag plugin 基础色
  --c-site-bg black
  --c-block #111
  --c-title #fff
  --c-text #fff
  --c-card #333

  // Stellar tag plugin 派生色
  --block-hover unquote('color-mix(in srgb, var(--c-block) 95%, var(--c-text))')
  --text-p1 var(--c-text)
  --text-p3 unquote('color-mix(in srgb, var(--c-text) 60%, var(--c-site-bg))')
  --card var(--c-card)

  // waline Dark Color https://github.com/volantis-x/hexo-theme-volantis/issues/633
  if hexo-config('comments.service')=='waline'
    --waline-white: #000 !important
    --waline-light-grey: #666 !important
    --waline-dark-grey: #999 !important
    --waline-text-color: #888 !important
    --waline-bg-color: #1e1e1e !important
    --waline-bg-color-light: #272727 !important
    --waline-border-color: #333 !important
    --waline-disable-bgcolor: #444 !important
    --waline-disable-color: #272727 !important
    --waline-bq-color: #272727 !important
    --waline-info-bgcolor: #272727 !important
    --waline-info-color: #666 !important


  // Custom Files
  for $injects_darkVar in hexo-config('injects.darkVar')
    @import $injects_darkVar;
  // eg:
  // body
  //   --color-site-body: blue !important


// 插件
dark_plugins()
  @import 'dark_plugins'

volantis-dark(async_dark)
volantis-dark(dark_plugins)
