// 异步加载的暗黑模式 暗黑模式 CSS 变量
// 工具函数 volantis-dark(ondark)

async_dark()
  // Stellar tag plugin 基础色
  --c-site-bg black
  --c-block #111
  --c-title #fff
  --c-text #fff
  --c-card #333




  // Custom Files
  for $injects_darkVar in hexo-config('injects.darkVar')
    @import $injects_darkVar;
  // eg:
  // body
  //   --color-site-body: blue !important


// 插件
dark_plugins()
  @import 'dark_plugins'

volantis-dark(async_dark)
volantis-dark(dark_plugins)
