// 异步加载的暗黑模式 强制覆盖样式
// 外层有工具函数 volantis-dark(ondark)

fa-solid,
fa-regular,
fa-duotone,
fa-light,
fa-thin,
fal,
fad,
fa,
svg.iconfont,
img,
.lazyload
  filter: brightness(convert(hexo-config('color_scheme.dark.brightness'))) !important




/////////////////////////
// Custom Files
for $injects_dark in hexo-config('injects.dark')
  @import $injects_dark;
// eg:
// body
//   --color-site-body: blue !important
