$text = url(hexo-config('style.cursor.text'))
$pointer = url(hexo-config('style.cursor.pointer'))
$default = url(hexo-config('style.cursor.default'))
$not-allowed = url(hexo-config('style.cursor.not-allowed'))
$zoom-out = url(hexo-config('style.cursor.zoom-out'))
$zoom-in = url(hexo-config('style.cursor.zoom-in'))
$grab = url(hexo-config('style.cursor.grab'))

html
  cursor $default,default

p,
input,
textarea,
pre > span
  cursor $text,text

//index.styl
a
  cursor $pointer,pointer
  p
    cursor $pointer,pointer
  &:not([href])
    cursor $default,default
    p
      cursor $default,default
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  cursor: $pointer,pointer
button[disabled],html input[disabled]
  cursor: $default,default

//func.styl
scrollbar
  &::-webkit-scrollbar-thumb
    cursor: $pointer,pointer

//article.styl
.article
  kbd
    &:hover
      cursor: $default,default
  .widget
    cursor: $default,default

//cover.styl
.cover-wrapper .cover
  .scroll-down
    cursor: $pointer,pointer

//main.styl
.l_body
  .post
    section.meta
      .new-meta-box
        .new-meta-item
          .notlink
            cursor: $default,default

//search.styl
#u-search
  .modal
    .modal-header
      .btn-close
        cursor: $pointer,pointer
    .modal-footer
      .nav
        cursor: $pointer,pointer

//btns.styl
span.btn
  >a
    &:not([href])
      &:hover
        cursor: $not-allowed,not-allowed
  a
    &:not([href])
      cursor: $default,default

//checkbox.styl
article .checkbox
  input
    cursor: $pointer,pointer

//dropmenu.styl
div.dropmenu
  cursor: $default,default

//folding.styl
details
  summary
    cursor: $pointer,pointer
    p
      cursor: $pointer,pointer

//tabs.styl
div.tabs
  ul.nav-tabs
    li.tab
      a
        cursor: $pointer,pointer
      &.active a
        cursor: $default,default

//clipboard.styl
if hexo-config('style.body.highlight.copy_btn') == true
  .btn-copy
    cursor: $pointer,pointer

//fancybox.styl
.fancybox-container
  .fancybox-stage
    cursor: $zoom-out,zoom-out
.fancybox
  a
    cursor: $zoom-in,zoom-in

//valine.styl
.l_main
  #comments
    #valine_container
      .vcards
        .vhead
          span
            &.vnick
              cursor: $default,default

.fancybox-can-zoomIn .fancybox-content
  cursor: $zoom-in,zoom-in

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content
  cursor: $grab,grab

.waves-effect,
a.result.search-result-fix
  cursor $pointer,pointer

.v[data-class=v] a,
.v[data-class=v] .vbtn,
.v[data-class=v] .vicon,
.v[data-class=v] .vcards .vcard .vhead .vnick,
.v[data-class=v] .vcards .vcard .vh .vmeta .vat,
.v[data-class=v] .vwrap .vemojis i,
.v[data-class=v] .vcards .vcard .vcontent.expand,
.aplayer .aplayer-pic,
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon,
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap,
.aplayer .aplayer-list ol li,
.aplayer .aplayer-list ol li .aplayer-list-author,
.aplayer .aplayer-list ol li .aplayer-list-index,
.fancybox-button,
.waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited
  cursor: $pointer,pointer !important

.aplayer .aplayer-info .aplayer-music
  cursor: $default,default !important

.fancybox-button[disabled], .fancybox-button[disabled]:hover
  cursor: $not-allowed,not-allowed !important

.fix-cursor-pointer
  cursor $pointer,pointer !important

.fix-cursor-default
  cursor $default,default !important
