.md .tag-plugin.copy
  display: flex
  justify-content: space-between
  box-sizing: border-box
  background: var(--card)
  border-radius: $border-bar
  border: 1px solid var(--block-border)
  overflow: hidden
  width: 100%
  min-width: 200px
  span
    padding: .25rem .5rem
    margin: auto .5rem
    line-height: 1
    border-radius: 4px
    background: x-theme-alpha(0.2)
    color: var(--theme)
    font-family: $ff-code
    font-size: $fs-13
    font-weight: 700
    flex-shrink: 0
  input.copy-area
    font-family: $ff-code
    display: inline-block
    padding: 0
    width: 100%
    color: var(--text-p2)
    line-height: 3
    text-indent: 1rem
  input
    background: none
    border: none
  span+input.copy-area
    text-indent: 0
  button
    border: none
    font-weight: 500
    outline: none
    user-select: none
  button.copy-btn
    margin: 2px 2px 2px 0
    border-radius: 'calc(%s - 2px)' % $border-bar
    display: inline-block
    background: var(--block)
    trans1 all
    line-height: 0
    font-size: 1rem
    padding: 0 .75rem
    color: var(--text-p2)
    &:hover
      color: var(--theme)
      background: var(--theme-a20)
