.md .tag-plugin.hashtag
  padding: 0px 8px
  border-radius: 100px
  background: var(--theme-block)
  color: var(--text-p2)
  margin: 2px 0
  display: inline-flex
  align-items: center
  --fsp: $fsp2
  font-size: var(--fsp)
  font-weight: 500
  trans2 background color
  span  
    margin: 0 2px
  &:hover
    background: var(--text-p2)
    color: var(--theme-block)
  
