span.tag-plugin.icon
  display: inline-block
  margin: -4px 1px 0
  vertical-align: middle
  svg,img
    display: block
    height: 1.5em
    width: auto
  svg
    color: var(--theme)
  img
    object-fit: contain

p>strong>span.tag-plugin.icon
  margin: -4px 4px 0 0

.tag-plugin.icon-wrap span.tag-plugin.icon
  margin-right: 4px
