<div id="lv-container" data-id="city" data-uid="<%= theme.comments.livere.uid %>">
  <noscript><div><i class='fas fa-exclamation-triangle'>&nbsp;<%- __('post.comments_placeholder', 'Livere') %></div></noscript>
</div>
