<script>
  volantis.layoutHelper("comments",`<div id="lv-container" data-id="city" data-uid="<%= theme.comments.livere.uid %>">
  <noscript><div><i class='fa-solid fa-exclamation-triangle'>&nbsp;<%- __('post.comments_placeholder', 'Livere') %></div></noscript>
</div>`)
</script>
<script data-pjax type="text/javascript">
  (function(d, s) {
    var j, e = d.getElementsByTagName(s)[0];
    if (typeof LivereTower === 'function') { return; }
    j = d.createElement(s);
    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
    j.async = true;
    e.parentNode.insertBefore(j, e);
  })(document, 'script');
</script>
