<% if (theme.plugins.parallax.info) { %>
	<div class="banner_info" style="
    margin-block: 50px;
    margin-left: 20px;
    position: absolute;
    font-size: 18px;
">
		<a href="<%= theme.plugins.parallax.info %>">关于Banner</a>
	</div>
<% } %>