<% if (theme.plugins.minecraft_splash.enable && theme.plugins.minecraft_splash.splash) { %>
  <p id="mc_splash" style="
      animation-duration: .55s;
      font-family: 'HFSnakylines';
      animation-direction: alternate;
      -webkit-animation-direction: alternate;
      animation-iteration-count: infinite;
      -webkit-animation: splash;
      font-size: 1.6rem;
      color: #FFFF00;
      text-shadow: 1px 1px black;
      text-align: center;
      rotate: -25deg;
      left: 200px;
      position: relative;
      bottom: -20px;
      -webkit-animation-duration: .55s;
      -webkit-animation-iteration-count: infinite;
  ">Minecraft!</p>
<% } %>
