<script>
  volantis.layoutHelper("comments",`<p>未注册者输入用户名和密码登录即相当于注册，之后以同一用户名和密码登录可以编辑自己之前的评论。留邮箱可接收回复通知。支持全匿名评论。</p>
  <div id="hashover"></div>`)
</script>
<script data-pjax type="text/javascript" src="<%= theme.comments.hashover.src %>"></script>
