// 页脚用
.fixlicense
  @media screen and (max-width: 560px)
    display: none

.fixuse
  @media screen and (max-width: 490px)
    display: none

// 评论框
#valine_container .vwrap
  border: 1px dashed #fff !important

#valine_container .vcards .vh
  border: 1px dashed #fff !important