.fixlicense
  @media screen and (max-width: 560px)
    display: none

.fixuse
  @media screen and (max-width: 490px)
    display: none

.fixicp
  @media screen and (max-width: 360px)
    display: none

.fixcpy
  @media screen and (max-width: 330px)
    display: none    