// 页脚用
.fixlicense
  @media screen and (max-width: 560px)
    display: none

.fixuse
  @media screen and (max-width: 490px)
    display: none

// 评论框
#valine_container .vwrap
  border: 1px dashed #fff !important

#valine_container .vcards .vh
  border: 1px dashed #fff !important

// 友链
.friends
  font-size: 4rem !important
  line-height: 1.3 !important
  text-align: center !important
  color: #2196f3!important;
  margin: 15px 0 -10px !important;