// Icon 颜色
// https://flatuicolors.com/palette/defo
.fa,
.fas,
.far,
.fad,
.fal,
// 图标颜色自定义
.iziToast>.iziToast-body .iziToast-icon
  &.red
    color: $color-md-red
  &.pink
    color: $color-md-pink
  &.purple
    color: $color-md-purple
  &.indigo
    color: $color-md-indigo
  &.light-blue
    color: $color-md-light-blue
  &.deep-blue
    color: $color-md-deep-blue
  &.teal
    color: $color-md-teal
  &.light-green
    color: $color-md-light-green
  &.orange
    color: $color-md-orange
  &.deep-orange
    color: $color-md-deep-orange
  &.brown
    color: $color-md-brown
  &.blue-grey
    color: $color-md-blue-grey
  &.yellow
    color: $color-md-yellow
    
  &.TURQUOISE
    color: #1abc9c
  &.EMERALD
    color: #2ecc71
  &.PETERRIVE
    color: #3498db
  &.AMETHYST
    color: #9b59b6
  &.WETASPHALT
    color: #34495e

  &.GREENSEA
    color: #16a085
  &.NEPHRITIS
    color: #27ae60
  &.BELIZEHOLE
    color: #2980b9
  &.WISTERIA
    color: #8e44ad
  &.MIDNIGHTBLUE
    color: #2c3e50

  &.SUNFLOWER
    color: #f1c40f
  &.CARROT
    color: #e67e22
  &.ALIZARIN
    color: #e74c3c
  &.CLOUDS
    color: #ecf0f1
  &.CONCRETE
    color: #95a5a6

  &.ORANGE
    color: #f39c12
  &.PUMPKIN
    color: #d35400
  &.POMEGRANATE
    color: #c0392b
  &.SILVER
    color: #bdc3c7
  &.ASBESTOS
    color: #7f8c8d