// 覆盖消息提示的样式
//.iziToast-wrapper
//  z-index: 2147483647 !important
.iziToast-texts
  max-width: 300px !important
  min-width: 200px !important
  @media screen and (max-width: 500px)
    max-width: unset !important
    min-width: unset !important
.iziToast-title
  margin-bottom: 6px !important
  font-size: 1rem !important
.iziToast-message
  word-break: break-all !important
