// waline Dark Color https://github.com/volantis-x/hexo-theme-volantis/issues/633
dark_waline()
    --waline-white: #000 !important
    --waline-light-grey: #666 !important
    --waline-dark-grey: #999 !important
    --waline-text-color: #888 !important
    --waline-bg-color: #1e1e1e !important
    --waline-bg-color-light: #272727 !important
    --waline-border-color: #333 !important
    --waline-disable-bgcolor: #444 !important
    --waline-disable-color: #272727 !important
    --waline-bq-color: #272727 !important
    --waline-info-bgcolor: #272727 !important
    --waline-info-color: #666 !important
volantis-dark(dark_waline)
