<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="l_body">
  <div class='container clearfix'>
    <%- body %>
    <script>setLoadingBarProgress(60);</script>
  </div>
  <a class="s-top fas fa-arrow-up fa-fw" href='javascript:void(0)'></a>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <script>setLoadingBarProgress(80);</script>
  <%- partial('_partial/scripts') %>
  <script>setLoadingBarProgress(100);</script>
</body>
</html>
