<%- partial('_partial/header', null, {cache: !config.relative_link, path: path}) %>
<div class='l_main'>
  <%- partial('_partial/article', {post: page, index: false}) %>
</div>
<%- partial('_partial/side') %>
