<section class='m_widget about'>
    <% if(config.avatar) { %>
        <img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
    <% } else { %>
        <img class='avatar waves-image' src='https://xaoxuu.com/assets/img/avatar.jpg' />
    <%} %>
</section>
