<section class='m_widget links'>
    <div class='header'><i class="fa fa-handshake-o fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;友链</div>
    <div class='content'>
        <ul class="entry" id="links">
            <% (config.widgets.links||[]).forEach(function(item){ %>
                <li><a class="flat-box" target="_blank" rel="external nofollow noopener noreferrer" href="<%= url_for(item.url) %>">
                    <div class='name'>
                        <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i>
                        &nbsp;&nbsp;<%= item.name %>
                    </div>
                </a></li>
            <% }) %>
            <% if(config.email) { %>
                <li><a class="flat-box" target="_blank" rel="external nofollow noopener noreferrer" href="mailto:<%= config.email %>?subject=交换友链">
                    <div class='name'>
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                        &nbsp;&nbsp;联系博主交换友链
                    </div>
                </a></li>
            <%} %>

        </ul>

    </div>
</section>
