<% (widgets||[]).forEach(function(widget){ %>
  <% if (theme.sidebar.widget_library && (widget in theme.sidebar.widget_library)){ %>
    <% let w = theme.sidebar.widget_library[widget]; w.id = widget; %>
    <%- partial(w.class, {item: w, where: where}) %>
  <% } %>
<% }) %>
<%
let widget_pjax_length = 0;
page.sidebar.forEach(function(e){
  if (e&&theme.sidebar.widget_library&&theme.sidebar.widget_library[e]) {
    let widget_pjax_flag = theme.sidebar.widget_library[e].pjaxReload
    if (widget_pjax_flag || widget_pjax_flag===undefined) {
      widget_pjax_length ++;
    }
  }
})
let widget_pjax_place_length = Object.keys(theme.sidebar.widget_library).length - widget_pjax_length
%>
<!-- 没有 pjax 占位会报错 万恶的 pjax -->
<% for(let i=0;i<widget_pjax_place_length;i++){ %>
  <div class="pjax">
    <!-- pjax占位 -->
  </div>
<% } %>
