<%
var needDisplay = true;
if (page.music && page.music.autoplay) {
  needDisplay = false;
}
if (page.widget && page.widget.music == false) {
  needDisplay = false;
}
%>

<% if (theme.services && theme.services.music == true && needDisplay == true) { %>
  <section class='<%- item.widget %>'>
    <%- partial('header', {item: item, defIcon: '', defTitle: ''}) %>
    <div class='content <%= theme.style %>'>
      <%- partial('../_third-party/aplayer',
      {aplayer_theme: item.color, aplayer_mini: false, aplayer_mode: item.mode,
      aplayer_server: item.server, aplayer_type: item.type, aplayer_id: item.id,
      aplayer_volume: item.volume, aplayer_autoplay: item.autoplay?item.autoplay:false }) %>
    </div>
  </section>
<% } %>
