<% if (theme.aplayer == true) { %>
  <section class='widget <%- item.class %>'>
    <%- partial('header', {item: item}) %>
    <div class='content <%= theme.style %>'>
      <%- partial('../_third-party/aplayer', {post: null}) %>
    </div>
  </section>
<% } %>
