<% if (theme.plugins.aplayer.enable == true) { %>
  <section class='widget <%- theme.style.sidebar.effect.join(' ') %> <%- item.class %>'>
    <%- partial('header', {item: item}) %>
    <div class='content'>
      <%- partial('../_third-party/aplayer/layout', {post: null, where: 'widget'}) %>
    </div>
  </section>
<% } %>
