<section class='m_widget socials'>
<div class='header'><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;联系</div>
<div class='content'>
    <ul class="entry">
      <% (theme.contacts||[]).forEach(function(item){ %>
        <li><a class="flat-box" target="_blank" rel="external nofollow noopener noreferrer" href="<%= url_for(item.url) %>">
          <div class='name'><%= item.name %></div>
          <div class='badget'><%= item.badget %></div>
        </a></li>
      <% }); %>
    </ul>
</div>
</section>
