<% if (site.tags.length){ %>
  <section class='<%- item.widget %>'>
    <%- partial('header', {item: item, defIcon: 'fas fa-hashtag', defTitle: __('sidebar.tagcloud')}) %>
    <div class='content <%= theme.style %>'>
      <%- tagcloud(site.tags, {
          min_font: 14,
          max_font: 24,
          color: true,
          start_color: item.start_color ? item.start_color : '#999',
          end_color: item.end_color ? item.end_color : '#555',
      }) %>
    </div>
  </section>
<% } %>
