<% if(page.layout == 'post' && page.content && page.toc!==false && toc(page.content).length > 0){ %>
  <div class='content <%= theme.style %>'>
    <%- toc(page.content, {list_number: false}) %>
  </div>
<% } %>
