<% if(page.content && page.toc!==false && toc(page.content).length > 0){ %>
    <section class='m_widget toc-wrapper'>
        <div class="header"><i class="fa fa-list fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;目录</div>
        <div class='content'>
            <%- toc(page.content, {list_number: false}) %>
        </div>
    </section>
<% } %>
