<div class="history">
  <div class="history-date">
    <ul>
      <h2 class="first"> 
        <a href="#nogo">2020年</a> 
        <!-- <img src="https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/img05.gif" alt="360极速浏览器历程" /> -->
      </h2>
      <li class="green">
        <h3>10.08<span>2020</span></h3>
        <dl>
          <dt>发布全新的极速浏览器6.0版本<span>升级极速内核到21.0；全新默认界面；新增小窗口播放功能</span></dt>
        </dl>
      </li>
      <li>
        <h3>07.19<span>2020</span></h3>
        <dl>
          <dt>升级极速内核到20.0<span>HTML5支持度全球最好，达到469分，测试页面： </span></dt>
          <A href="http://www.jq22.com/" target="_blank">http://www.jq22.com/</A>
        </dl>
      </li>
      <li>
        <h3>07.02<span>2020</span></h3>
        <dl>
          <dt>升级极速内核到19.0<span>支持网络摄像头，浏览器可直接访问摄像头</span></dt>
        </dl>
      </li>
      <li class="green">
        <h3>06.27<span>2020</span></h3>
        <dl>
          <dt>发布国内首个HTML5实验室<span>大力推广HTML5</span></dt>
        </dl>
      </li>
      <li>
        <h3>06.15<span>2020</span></h3>
        <dl>
          <dt>酷站代码新增了下载文件前扫描下载链接安全性的功能</dt>
        </dl>
      </li>
      <li>
        <h3>06.05<span>2020</span></h3>
        <dl>
          <dt>W3C联盟首席执行官访华，首站访问360公司</dt>
        </dl>
      </li>
      <li>
        <h3>05.12<span>2020</span></h3>
        <dl>
          <dt>360受邀出席W3C联盟成员见面会议</dt>
        </dl>
      </li>
      <li>
        <h3>05.11<span>2020</span></h3>
        <dl>
          <dt>升级极速内核到18.0<span>新增多用户使用浏览器的功能</span></dt>
        </dl>
      </li>
      <li>
        <h3>05.03<span>2020</span></h3>
        <dl>
          <dt>360极速浏览器用户数突破5000万，活跃用户超2000万</dt>
        </dl>
      </li>
      <li>
        <h3>03.08<span>2020</span></h3>
        <dl>
          <dt>升级极速内核到17.0，提升浏览器速度、增强安全性<span>新增HTTP管线化技术，大幅提升网页加载速度</span></dt>
        </dl>
      </li>
      <li>
        <h3>01.29<span>2020</span></h3>
        <dl>
          <dt>国内率先加入W3C联盟HTML工作组，参与HTML5标准制定</span></dt>
        </dl>
      </li>
    </ul>
  </div>
  <div class="history-date">
    <ul>
      <h2 class="date02"><a href="#nogo">2019年</a></h2>
      <li>
        <h3>12.12<span>2019</span></h3>
        <dl>
          <dt>升级极速内核到16.0，提升浏览器速度、增强安全性<span>新增对360网购保镖支持，保护网上交易安全</span></dt>
        </dl>
      </li>
      <li class="">
        <h3>遥远的遥远</h3>
        <dl>
          <dt>从一只小菜鸟当起</dt>
        </dl>
      </li>
      <br>
      <br>
      <br>
      <br>
    </ul>
  </div>
</div>