<div class="history">
  <div class="history-date">
    <ul>
      <li class="first-li">
        <h2 class="first"> 
          <a style="cursor: pointer">2020年</a> 
          <!-- <img src="https://cdn.jsdelivr.net/gh/lovelyJason/cdn-gallery/img/img05.gif" alt="360极速浏览器历程" /> -->
        </h2>
      </li>
      <li>
        <h3>07.19<span>2020</span></h3>
        <i class="node"></i>
        <dl>
          <dt>改造中<span>网站地址： </span></dt>
          <a href="http://qdovo.com" target="_blank">http://qdovo.com/</a>
        </dl>
      </li>
      <li class="green">
        <h3>06.27<span>2020</span></h3>
        <i class="node"></i>
        <dl>
          <dt>修改主题样式<span>😢</span></dt>
        </dl>
      </li>
      <li>
        <h3>06.15<span>2020</span></h3>
        <i class="node"></i>
        <dl>
          <dt>搭建了现在的博客并上线, 开始引入旧文章</dt>
        </dl>
      </li>
    </ul>
  </div>
  <div class="history-date">
    <ul>
      <li class="first-li">
        <h2 class="date02" style="padding-top: 18px"><a style="cursor: pointer">2019年</a></h2>
        <dl>
          <dt>推翻旧网站,新域名新环境开启,做自己的前端</dt>
        </dl>
      </li>
      <li>
        <h3>遥远的遥远</h3>
        <dl>
          <dt>正式进入前端行业,开始自己的折腾之路</dt>
        </dl>
      </li>
      <li class="">
        <h3>遥远的遥远</h3>
        <i class="node"></i>
        <dl>
          <dt>从一只小菜鸟当起, 运营着几乎没有多少访问量的博客,现已丢失</dt>
        </dl>
      </li>
    </ul>
    <br>
    <br>
  </div>
</div>