<script type="text/javascript">
  volantis.layoutHelper("comments",`<div id="gitalk-container"></div>`)
  function pjax_gitalk() {
    if(!document.querySelector("#gitalk-container"))return;
    let path = pdata.commentPath;
    if (path.length == 0) {
      let defaultPath = '<%= theme.comments.gitalk.path %>';
      path = defaultPath || decodeURI(window.location.pathname);
    }
    if (document.getElementById('gitalk-container') != null) {
      var gitalk = new Gitalk(
        Object.assign(
          Object.assign(<%- JSON.stringify(theme.comments.gitalk) %>, {
            id: path,
            distractionFreeMode: false  // Facebook-like distraction free mode
          }),
        pdata.commentConfig)
      );
      gitalk.render('gitalk-container');
    }
  }
  volantis.js('<%= theme.comments.gitalk.js %>').then(pjax_gitalk)
  volantis.pjax.push(pjax_gitalk);
</script>
