#safearea {
  display: none
}
// https://web.dev/content-visibility/
// https://www.caniuse.com/?search=content-visibility
.post-story {
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
}

@import '_defines/*'

// Project
@import '_first/*'

// Custom Files
for $injects_first in hexo-config('injects.first')
  @import $injects_first;