// 首屏样式入口：变量/混入 → 组件样式 → 用户注入

// 安全区域占位
#safearea
  display: none


// content visibility
if hexo-config('content_visibility')
  // https://web.dev/content-visibility/
  // https://www.caniuse.com/?search=content-visibility
  /*
    * Workaround for Chrome bug, part 1
    * Chunk rendering for all but the first article.
    * source/js/global.js  volantis.cleanContentVisibility()
  */
  .post-story + .post-story
    content-visibility: auto;
    contain-intrinsic-size: 10px 500px;


// 全局定义（变量、混入、动画）
@import '_defines/*'

// 组件样式（基础、布局）
@import '_first/*'

// 用户自定义注入样式 // Custom Files
for $injects_first in hexo-config('injects.first')
  @import $injects_first;
