@import 'mathjax'
@import 'fancybox'
if hexo-config('plugins.aplayer.enable')
  @import 'aplayer'
if hexo-config('plugins.clipboard.enable')
  @import 'clipboard'
if hexo-config('plugins.pjax.enable') and hexo-config('plugins.pjax.animation')
  @import 'pjaxanimate'
if hexo-config('comments.service')=='valine'
  @import 'valine'
if hexo-config('comments.service')=='gitalk'
  @import 'gitalk'
if hexo-config('comments.service')=='twikoo'
  @import 'twikoo'
if hexo-config('custom_css.cursor.enable')
  @import 'cursor'
if hexo-config('rightmenu.enable')
  @import 'rightmenu'
