// 覆盖消息提示的样式
//.iziToast-wrapper
//  z-index: 2147483647 !important
.iziToast-texts
  max-width: 300px !important
  min-width: 200px !important
  @media screen and (max-width: 500px)
    max-width: unset !important
    min-width: unset !important
.iziToast-title
  margin-bottom: 6px !important
  font-size: 1rem !important
.iziToast-message
  word-break: break-all !important

// 图标颜色自定义
.iziToast>.iziToast-body .iziToast-icon
  &.red
    color: $color-md-red
  &.pink
    color: $color-md-pink
  &.purple
    color: $color-md-purple
  &.indigo
    color: $color-md-indigo
  &.light-blue
    color: $color-md-light-blue
  &.deep-blue
    color: $color-md-deep-blue
  &.teal
    color: $color-md-teal
  &.light-green
    color: $color-md-light-green
  &.orange
    color: $color-md-orange
  &.deep-orange
    color: $color-md-deep-orange
  &.brown
    color: $color-md-brown
  &.blue-grey
    color: $color-md-blue-grey
  &.yellow
    color: $color-md-yellow