.OwO
  .OwO-body
    color: silver !important
    background-color: #252627 !important
    border-color: #4a4b50 !important
    .OwO-bar
      border-top: 1px solid #4a4b50 !important
      background:#4a4b50 !important
      color: #ccc !important
      .OwO-packages 
        li:hover
          background-color: #252627 !important
        .OwO-package-active
          background-color: #252627 !important
    .OwO-items
      .OwO-item
        background:#4a4b50 !important
        color: #ccc !important
    .OwO-items-image
      .OwO-item:hover
        background-color: #252627 !important
