// @require '../'

.alert
	display: none
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)
	z-index: 999
	text-align: center
	padding: 30px 36px 29px 36px
	border-radius: $border-card
	box-shadow: $boxshadow-card
	font-weight: bold
	font-size: $fontsize-h4

	&.alert-success
		color: darken($color-mac-green, 20)
		background: lighten($color-mac-green, 40)
	&.alert-info
		color: darken($color-mac-cyan, 20)
		background-color: lighten($color-mac-cyan, 40)
	&.alert-warning
		color: darken($color-mac-yellow, 20)
		background-color: lighten($color-mac-yellow, 40)
	&.alert-danger
		color: darken($color-mac-red, 20)
		background-color: lighten($color-mac-red, 40)
