//代码块复制按钮
.highlight
    //方便copy代码按钮（btn-copy）的定位
    position: relative

.btn-copy
    display: inline-block
    cursor: pointer
    border: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-appearance: none
    font-size: "calc(%s - 1px)" % $fontsize-code
    font-weight: bold
    padding: $gap * 0.25 $gap * 0.5
    >i
      margin-right: 4px
    color: $color-meta
    background: $color-card
    border-bottom-left-radius: $borderradius-codeblock
    border-top-right-radius: $borderradius-codeblock
    box-shadow: $boxshadow-card
    position: absolute
    top: 0
    right: 0
    opacity: 0
    trans()
    &:hover
      color: $color-hover
      background: bgcolor($color-hover)

.highlight:hover .btn-copy
    opacity: 1
