.darkmode-toggle
	z-index: 100000
.darkmode--activated
	.MiniValine .vpage .more
		background: #21232F
	img
		filter: brightness(30%)
	.MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:before
		background: linear-gradient(180deg, rgba(246,246,246,0), rgba(0,0,0,0.9))
	.MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:after
		background: rgba(0,0,0,0.9)
	.MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment pre
		background: #282c34
		border: 1px solid #282c34
	.MiniValine .vinputs-area .vextra-area .vsmile-icons
		background: transparent
	.container
		background: #21232F
	.blur
		background: #21232F !important
	.loading-bar-wrapper
		background: #21232F
	.nav-main
		.u-search-input
			background: skyblue !important
	.list-v
		background: #21232F
	.vsubmit
		background: #21232F
	.l_header ul>li>a:hover
		background: rgba(33,150,243,.2)
	#archive-page .archive .archive-post a:hover
		background: rgba(33,150,243,.2)
	.l_main .article .prev-next>a
		background: #21232F
	.article blockquote
		background: #21232F
	.highlight>table
		background: #282c34
	.gutter
		background: #282c34 !important
		background-color: #282c34 !important
	.highlight figcaption
		background-color: #21252b
	.highlight
		border: 1px solid #21252b !important
		background: #282c34
	details>summary
		background: #282c34
	details
		border: 1px solid #282c34
		background: #282c34
	.note
		background: #282c34 !important
	.nav-tabs
		background: #282c34 !important
	.tabs
		background: #282c34 !important
	.btns a
		background: #282c34 !important
	.tab.active a
		background: skyblue !important
	.widget>.content ul.entry a:hover, .widget>.content ul.popular-posts a:hover
		background: rgba(33,150,243,.2)
