.darkmode-toggle
	z-index: 100000
.darkmode-background
	z-index: -9999999 !important
.darkmode--activated
	img
		filter: brightness(30%)
	.pdf
		filter: brightness(30%)
	.MiniValine .vpage .more
		background: #21232F
	.MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:before
		background: linear-gradient(180deg, rgba(246,246,246,0), rgba(0,0,0,0.9))
	.MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:after
		background: rgba(0,0,0,0.9)
	.MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment pre
		background: #282c34
		border: 1px solid #282c34
	.MiniValine .vinputs-area .vextra-area .vsmile-icons
		background: transparent
	.MiniValine .vlist .vcard .vcomment-body .vhead
		filter: brightness(85%)
	.container
		background: #21232F
	.blur
		background: #21232F !important
	.loading-bar-wrapper
		background: #21232F
	.nav-main
		.u-search-input
			background: skyblue !important
	.list-v
		background: #21232F
	.vsubmit
		background: #21232F
	.l_header ul>li>a:hover
		background: rgba(33,150,243,.2)
	#archive-page .archive .archive-post a:hover
		background: rgba(33,150,243,.2)
	.l_main .article .prev-next>a
		background: #21232F
	.article blockquote
		background: #21232F
	table tr 
		background-color: #cdcadc00
	table th 
		background: rgba(3, 8, 36, 0.56)
	table tr:hover
		background: rgba(33,150,243,.2)
	.highlight>table
		background: #282c34
	.gutter
		background: #282c34 !important
		background-color: #282c34 !important
	.highlight figcaption
		background-color: #21252b
	.highlight
		border: 1px solid #21252b !important
		background: #282c34
		table tr:hover
			background: #282c34
	details>summary
		background: #282c34
	details
		border: 1px solid #282c34
		background: #282c34
	.note
		background: #282c34 !important
	.nav-tabs
		background: #282c34 !important
	.tabs
		background: #282c34 !important
	.btns a
		background: #282c34 !important
	.tab.active a
		background: skyblue !important
	.widget>.content ul.entry a:hover, .widget>.content ul.popular-posts a:hover
		background: rgba(33,150,243,.2)
	#u-search .modal
		background: #282c34 !important
	#u-search .modal-header
		background: #282c34 !important
	#u-search .modal-body
		background: #282c34 !important
	#u-search .modal-body .modal-results .result:hover
		background: rgba(33,150,243,.2) !important
	.aplayer-info
		background: #282c34 !important
	.aplayer .aplayer-lrc:before
		background: linear-gradient(180deg,#282c34 0,hsla(0,0%,100%,0))
	.aplayer .aplayer-lrc:after
		background: linear-gradient(180deg,hsla(0,0%,0%,0) 0,hsla(0,0%,13%,.8))
	.aplayer-pic
		filter: brightness(30%)
	.l_header ul.nav-list-h>li>a:hover
		background: #282c34 !important
	.white-box
		background: #282c34 !important
	.widget
		background: #282c34 !important
	.article code:not([class])
		background: #221f29 !important
	.cover-wrapper .cover .cover-body .menu.dock .list-h a:hover, .cover-wrapper .cover .cover-body .menu.featured .list-h a:hover, .cover-wrapper .cover .cover-body .menu.focus .list-h a:hover
		background: #282c34 !important
	.friend-card
		background: #172233 !important
	.highlight pre .line, .highlight pre .params 
		color: rgba(158, 142, 142, 0.9)
	div.timenode .body
		background: #21232f !important
