fancybox
  display: flex
  justify-content: center
  align-items: center
  a
    margin: 0 1px
    padding: 0
    @media screen and (max-width: $device-mobile)
      margin: 0 .5px
    >img
      margin: 0
