.l_main
  #comments
    position: relative
    // padding-top: 1.5*$gap
    @media screen and (max-width: $device-mobile)
      // padding-top: $gap

    #valine_container
      img
        display: inline
      .vwrap
        border-radius: $border-card
        border-style: dashed
        border: 1px dashed alpha($color-text, 30%)
        trans()
        &:hover
          border: 1px dashed $color-theme

        .vheader
          .vinput
            border-radius: 0
            border-bottom: 1px dashed alpha($color-text, 30%)
            &:hover
              border-bottom: 1px dashed $color-theme
            &:focus
              border-bottom: 1px solid $color-theme

        .vedit
          .vemojis,.vpreview
            justify-content: space-between
            background: $color-block
            border-radius: $border-codeblock
            i
              width: auto
              height: 36px
              padding: 0
              margin: 8px 8px 0 8px
              #emoji
                height: 24px
                margin-top: 6px
                background: transparent
        .vedit .vctrl span
          color: $color-link
          padding: 0
          margin: 10px

      button
        border: none
        padding: 8px 2rem 7px 2rem
        border-radius: $border-button
        background: darken($color-block, 2)
        trans()
        &:hover
          color: $color-hover
          background: bgcolor($color-hover)

      blockquote
        padding: $gap
        border-left: $border-line solid $color-blockquote
        trans()
        p
          text-align: left
          word-wrap: normal

      pre code
        border: none

      a, .vemoji-btn, .vpreview-btn
        color: $color-link
        trans()
        &:hover
          color: $color-hover
          text-decoration: underline

      div.info
        box-shadow: none
      div.info>div.power
        &,a
          font-size: $fontsize-footnote
      .vhead
        span
          &.vnick
            color: $color-meta


        a
          &.vnick
            color: #ff9800
            font-weight: bold
            &:hover
              color: $color-hover
              text-decoration: underline



        .vsys
          margin: 2px
          padding: 1px 8px
          background-color: alpha($color-text, .1)



      .vcard
        .vquote
          border-left: none

        .vh
          border-bottom: 1px dashed alpha($color-text, .1)


      .vmeta
        .vat
          font-weight: bold
          color: $color-link
          trans()
          &:hover
            color: $color-hover
            text-decoration: underline
          &:active
            color: darken($color-hover, .25)


      .vinput
        color: $color-text

      p
        color: $color-text



    p
      #emoji
        display: inline
        max-height: 28px
        background: transparent
