<%
    var checkComment = true;
    if (page.comment && page.comment.enable == false) {
      checkComment = false;
    }
%>
<% if (checkComment && theme.comments.service && theme.comments.service.length > 0) { %>
  <article class="post white-box reveal comments <%- theme.style.body.effect.join(' ') %>">
    <section class="article typo">
      <p ct><%- theme.comments && theme.comments.title %></p>
      <% if (theme.comments && theme.comments.subtitle) { %>
        <p cst><%- theme.comments.subtitle %></p>
      <% } %>
      <section id="comments">
        <%- partial(theme.comments.service + '/layout') %>
      </section>
    </section>
  </article>
<% } else { %>
  <% page.comments = false; %>
<% } %>
