<%
    var checkComment = true;
    if (page.comments && page.comments == false) {
      checkComment = false;
    }
%>
<% if (checkComment && theme.comments.service && theme.comments.service.length > 0) { %>
  <article class="post white-box reveal <%- theme.custom_css.body.effect.join(' ') %>" id="comments">
    <p ct><%- theme.comments && theme.comments.title %></p>
    <% if (theme.comments && theme.comments.subtitle) { %>
      <p cst><%- theme.comments.subtitle %></p>
    <% } %>
    <%- partial(theme.comments.service + '/layout') %>
  </article>
<% } else { %>
  <% page.comments = false; %>
<% } %>
