$fontfamily = "PingFang SC", "Microsoft YaHei", Helvetica, Arial, Menlo, Monaco, monospace, "Lucida Console", sans-serif
if hexo-config('custom_css.fontfamily.bodyfont')
  if hexo-config('custom_css.fontfamily.bodyfont.fontfamily')
    $fontfamily = convert(hexo-config('custom_css.fontfamily.bodyfont.fontfamily')), Menlo, Monaco, monospace, sans-serif


$fontfamily-code = Menlo, Monaco, monospace, courier, sans-serif
if hexo-config('custom_css.fontfamily.codefont')
  if hexo-config('custom_css.fontfamily.codefont.fontfamily')
    $fontfamily-code = convert(hexo-config('custom_css.fontfamily.codefont.fontfamily')), monospace, courier, sans-serif



$fontfamily-logo = $fontfamily
if hexo-config('custom_css.fontfamily.logofont')
  if hexo-config('custom_css.fontfamily.logofont.fontfamily')
    $fontfamily-logo = convert(hexo-config('custom_css.fontfamily.logofont.fontfamily')), Helvetica, monospace




// font size
$fontsize-root = convert(hexo-config('custom_css.fontsize.root')) || 16px
$fontsize-h1 = convert(hexo-config('custom_css.fontsize.h1')) || 1.625rem    // 26px
$fontsize-h2 = convert(hexo-config('custom_css.fontsize.h2')) || 1.625rem    // 26px bottom line
$fontsize-h3 = convert(hexo-config('custom_css.fontsize.h3')) || 1.375rem    // 22px colorful title
$fontsize-h4 = convert(hexo-config('custom_css.fontsize.h4')) || 1.125rem    // 18px
$fontsize-h5 = convert(hexo-config('custom_css.fontsize.h5')) || 1rem        // 16px bold
$fontsize-h6 = convert(hexo-config('custom_css.fontsize.h6')) || 1rem        // 16px
$fontsize-list = convert(hexo-config('custom_css.fontsize.list')) || .9375rem  // 15px
$fontsize-meta = convert(hexo-config('custom_css.fontsize.meta')) || .875rem   // 14px
$fontsize-code = convert(hexo-config('custom_css.fontsize.code')) || .8125rem  // 13px
$fontsize-footnote = convert(hexo-config('custom_css.fontsize.footnote')) || .75rem  // the smallest (12px)

// line-height
$lineheight = hexo-config('custom_css.gap.line_height') || 1.7

$fontsize-large = 2.5rem
$fontsize-huge = 4rem
$fontsize-ultra = 6rem


// font size
$fs-root = 16px
$fs-15 = .9375rem
$fs-14 = .875rem
$fs-13 = .8125rem
$fs-12 = .75rem

$fs-h1   = 2rem   // 32px
$fs-h2   = 1.5rem // 24px
$fs-h3   = 1.375rem  // 22px
$fs-h4   = 1.125rem  // 18px
$fs-h5   = $fs-15
$fs-h6   = $fs-12
$fs-p = $fs-15
$fs-code = $fs-13
