// body font
$fontfamily = "Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Menlo, Monaco, monospace, "Lucida Console", sans-serif, Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, Arial, sans-serif
// inline code & codeblock font
$fontfamily-code = Menlo, Monaco, courier, monospace, "Lucida Console", 'Source Code Pro', "Microsoft YaHei", Helvetica, Arial, sans-serif, 'Ubuntu'


if hexo-config('style.fontfamily.bodyfont')
  @font-face
    font-family: hexo-config('style.fontfamily.bodyfont.name')
    src: url(hexo-config('style.fontfamily.bodyfont.url'))
    font-weight: hexo-config('style.fontfamily.bodyfont.weight')
    font-style: hexo-config('style.fontfamily.bodyfont.style')
  $fontfamily = hexo-config('style.fontfamily.bodyfont.name'), $fontfamily

if hexo-config('style.fontfamily.codefont')
  @font-face
    font-family: hexo-config('style.fontfamily.codefont.name')
    src: url(hexo-config('style.fontfamily.codefont.url'))
    font-weight: hexo-config('style.fontfamily.codefont.weight')
    font-style: hexo-config('style.fontfamily.codefont.style')
  $fontfamily-code = hexo-config('style.fontfamily.codefont.name'), $fontfamily-code

// logo font
$fontfamily-logo = $fontfamily

// font size
$fontsize = 16px
$fontsize-h1 = 1.625rem    // 26px
$fontsize-h2 = 1.375rem    // 22px bottom line
$fontsize-h3 = 1.25rem     // 20px colorful title
$fontsize-h4 = 1.125rem    // 18px
$fontsize-h5 = 1rem        // 16px bold
$fontsize-h6 = 1rem        // 16px
$fontsize-body = 1rem      // 16px
$fontsize-list = .9375rem  // 15px
$fontsize-meta = .875rem   // 14px
$fontsize-code = .8125rem  // 13px
$fontsize-footnote = .75rem  // the smallest (12px)

// line-height
$lineheight = 1.5

$fontsize-large = 3rem
$fontsize-huge = 4rem
$fontsize-ultra = 6rem
