

trans($time = 0.28s)
  transition: all $time ease
  -moz-transition: all $time ease
  -webkit-transition: all $time ease
  -o-transition: all $time ease


hoverable-card()
  trans()
  &:hover
    box-shadow: 0 0 4px rgba(0,0,0,.1), 0 0 8px rgba(0,0,0,.08)

txt-ellipsis()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

placeholder(rules)
  &::-webkit-input-placeholder
    rules()
  &:-moz-placeholder
    rules()
	&::-moz-placeholder
    rules()
	&:-ms-input-placeholder
    rules()

disable-user-select()
  -moz-user-select: none
  -ms-user-select: none
  -webkit-user-select: none
  user-select: none

scrollbar($w = 4px, $b = 2px, $c = $color-theme, $h = $color-hover)
  &::-webkit-scrollbar
    height: $w
    width: $w
  &::-webkit-scrollbar-track-piece
    background: transparent
  &::-webkit-scrollbar-thumb
    background: $c
    cursor: pointer
    border-radius: $b
    &:hover
      background: $h


scrollbar-codeblock()
  &::-webkit-scrollbar
    height: 4px
    width: 4px
  &::-webkit-scrollbar-track-piece
    background: transparent
  &::-webkit-scrollbar-thumb
    background: transparent
    cursor: pointer
    border-radius: $border-codeblock
  &:hover
    &::-webkit-scrollbar-thumb
      background: alpha($color-text, .5)
      &:hover
        background: $color-hover

dark()
  --color-site-body: black
  --color-site-bg: convert(hexo-config('color_scheme.dark.site_bg'))
  --color-site-inner: convert(hexo-config('color_scheme.dark.site_inner'))
  --color-site-footer: convert(hexo-config('color_scheme.dark.site_footer'))
  --color-card: convert(hexo-config('color_scheme.dark.card'))
  --color-text: convert(hexo-config('color_scheme.dark.text'))

  --color-block: convert(hexo-config('color_scheme.dark.block'))
  --color-codeblock: convert(hexo-config('color_scheme.dark.codeblock'))
  --color-inlinecode: convert(hexo-config('color_scheme.dark.inlinecode'))
  --color-h1: convert(hexo-config('color_scheme.dark.h1'))
  --color-h2: convert(hexo-config('color_scheme.dark.h2'))
  --color-h3: convert(hexo-config('color_scheme.dark.h3'))
  --color-h4: convert(hexo-config('color_scheme.dark.h4'))
  --color-h5: convert(hexo-config('color_scheme.dark.h5'))
  --color-h6: convert(hexo-config('color_scheme.dark.h6'))
  --color-p: convert(hexo-config('color_scheme.dark.p'))
  --color-list: convert(hexo-config('color_scheme.dark.list'))
  --color-list-hl: convert(hexo-config('color_scheme.dark.list_hl'))
  --color-meta: convert(hexo-config('color_scheme.dark.meta'))
  --color-link: convert(hexo-config('color_scheme.dark.meta'))