// device defines
$device-mobile-s = 320px
$device-mobile-m = 375px
$device-mobile-l = 425px
$device-mobile = 500px
$device-tablet = 768px
$device-laptop = 1024px
$device-desktop = 1440px
$device-4k = 2560px


// site layout
$layout-width = 1080px
$sidebar-s = 240px
$sidebar = 285px
$modal-threshold = 680px
$navbar-height = 64px

// gap
$gap = 16px
$gap-h2 = 2.5rem
$gap-h3 = 1.5rem
$gap-line = .5rem
$gap-card = $gap

// border radius
$border-radius = 12px
$border-radius-codeblock = 4px
$border-radius-line = 2px
$border-radius-searchbar = 8px
$border-radius-button = 2px
// align
$text-align-h1 = left
$text-align-h2 = left
$text-align-h3 = left

$text-align-body = justify
