<!-- 显示推荐文章和评论 -->
<%
  var enableDisqus = false;
  var enableLivere = false;
  var enableValine = false;
  if (page && theme.services && theme.services.comments == true && page.comments != false) {
    if (config.disqus_shortname) {
      enableDisqus = true;
    }
    if (config.livere_uid) {
      enableLivere = true;
    }
    if (config.valine && config.valine.app_id && config.valine.app_key) {
      enableValine = true;
    }
  }
%>

<% if (enableDisqus || enableLivere || enableValine) { %>
  <article class="post white-box comments">
    <section class="article typo">
      <h4><i class="fas fa-comments fa-fw" aria-hidden="true"></i>&nbsp;<%- __('post.comments') %></h4>
      <% if (enableDisqus) { %>
        <section id="comments">
          <div id="disqus_thread">
            <div><i class='fas fa-exclamation-triangle'>&nbsp;<%- __('post.comments_placeholder', 'Disqus') %></div>
            <% if (enableValine) { %>
              <div id="valine_container" class="valine_thread">
                <i class="fas fa-spinner fa-spin fa-fw"></i>
              </div>
            <% } else { %>
            <% } %>
          </div>
        </section>
      <% } %>
      <% if (enableLivere){ %>
        <section id="comments">
          <div id="lv-container" data-id="city" data-uid="<%= config.livere_uid %>">
            <noscript><div><i class='fas fa-exclamation-triangle'>&nbsp;<%- __('post.comments_placeholder', 'Livere') %></div></noscript>
          </div>
        </section>
      <% } %>
      <% if (!enableDisqus && enableValine){ %>
        <section id="comments">
          <div id="valine_container" class="valine_thread">
            <i class="fas fa-spinner fa-spin fa-fw"></i>
          </div>
        </section>
      <% } %>
    </section>
  </article>
<% } %>
