<!-- 显示推荐文章和评论 -->
<%
  var displayRecommentedPosts = false;
  var displayComments = false;
  if (page && theme.services) {
    if (theme.services.recommended_posts == true && theme.recommended_posts && theme.recommended_posts.autoDisplay == false && page.layout == 'post' && page.recommended_posts != false) {
      displayRecommentedPosts = true;
    }
    if ((config.disqus_shortname || config.livere_shortname || config.valine) && theme.services.comments == true && page.comments != false) {
      displayComments = true;
    }
  }
%>

<% if (displayRecommentedPosts || displayComments) { %>
  <article class="post white-box comments">
    <section class="article typo">

      <% if (displayRecommentedPosts) { %>
        <%- partial('recommended_posts', {page: page, site: site}) %>
      <% } %>

      <% if (displayComments) { %>
        <h4><i class="fas fa-comments fa-fw" aria-hidden="true"></i>&nbsp;评论</h4>
        <% if (config.disqus_shortname) { %>
          <section id="comments">
            <div id="disqus_thread">
              ⚠️  无法加载评论系统，请确保您的网络能够正常访问 <a href="https://disqus.com">Disqus</a> 。
            </div>
          </section>
        <% } %>
        <% if (config.livere_uid){ %>
          <section id="comments">
            <div id="lv-container" data-id="city" data-uid="<%= config.livere_uid %>">
              <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
            </div>
          </section>
        <% } %>
        <% if (config.valine){ %>
          <% if (config.valine.enable && config.valine.app_id && config.valine.app_key){ %>
            <div class="subtitle">
              <h6><b>文明评论，请勿灌水。</b>为了便于区分和接收回复提醒，请您在留言时填写一下<b>昵称</b>和<b>邮箱</b>。</h6>
            <div>
            <section id="comments">
              <div id="valine_container" class="valine_thread">
                <i class="fas fa-spinner fa-spin fa-fw"></i>
              </div>
            </section>
          <% } %>
        <% } %>
      <% } %>
    </section>
  </article>
<% } %>
