<% if (theme.services && theme.services.share == true && config.mob && config.mob.appkey && config.mob.list) { %>
  <div class='metatag share -mob-share-list'>
    <i class="left fas fa-share-alt fa-fw" aria-hidden="true"></i>
    <div class="-mob-share-list share-body">
      <% (config.mob.list||[]).forEach(function(item){ %>
        <a class="-mob-share-<%- item.key %>" title="<%- item.name %>">
          <% if (item.icon){ %>
            <i class="<%- item.icon %> fa-fw"></i>
          <% } else if (item.img){ %>
            <img src="<%- item.img %>">
          <% } %>
        </a>
      <% }) %>
    </div>
  </div>
<% } %>
