<% if (post.categories && post.categories && post.categories.forEach){ %>
    <%
    var cats = [];
    post.categories.forEach(function(cat){
        cats.push('<a href="'+url_for(cat.path)+'">' + cat.name + '</a>');
    });
    %>
    <div class='cats'>
        <%- cats.join(', ') %>
    </div>
<% } %>
