<%
var enableCover = false;                      // 封面是否开启
if(theme.cover && theme.cover.scheme) {
  enableCover = true;
}
%>

<% if (enableCover) { %>
<div class="cover-wrapper">
  <cover class='cover <%- page.layout %>' style="display: none;">
    <%- partial('../_cover/index') %>
    <div class="scroll-down" style="display: none;"><i class="fa fa-chevron-down scroll-down-effects"></i></div>
  </cover>
  <%- partial('header', null, {cache: false, path: path}) %>
</div>
<% } else { %> 
  <%- partial('header', null, {cache: false, path: path}) %>
<% } %>
