<footer id="footer" class="clearfix">

	<div class="social-wrapper">
  	<% if (theme.social) { %>
      <% theme.social.forEach(function(value, key) {
           if (value.url && value.slug) { %>
        <a href="<%= value.url %>" class="social <%= value.slug %>"
          target="_blank" rel="external">
					<i class="fa fa-<%= value.slug %>"></i>
        </a>
      <% } }); %>
    <% } %>
  </div>
  <br>
  <div>博客内容遵循 <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" class="licenses">知识共享 署名 - 非商业性 - 相同方式共享 4.0 国际协议</a></div>
  <div>本站采用 <a href="https://github.com/xaoxuu/hexo-theme-material-x" target="_blank" class="codename">Material-X</a> 作为主题</div>

</footer>
