<!--此文件用来存放一些 js 不方便取值的变量-->

<%
var changeValinePath = 'none';
var changeValinePlaceholder = 'none';

var frontMatterCover = false;

var enableValine = false;
if (theme.comments && page && page.comments == true && theme.comments.valine && theme.comments.valine.appId) {
    enableValine = true;
}

if (page && page.comments == true) {
    if (enableValine && page.valine && page.valine.path) {
        changeValinePath = page.valine.path;
    }
    if (enableValine && page.valine && page.valine.placeholder) {
        changeValinePlaceholder = page.valine.placeholder;
    }
}

if (page && page.cover) {
    frontMatterCover = page.cover;
}
%>

<div id="pjax-data" style="display: none">
    <div id="page-cover"><%=frontMatterCover%></div>

    <% if (enableValine){ %>
    <div id="valine-path"><%=changeValinePath%></div>
    <div id="valine-placeholder"><%=changeValinePlaceholder%></div>
    <% } %>
</div>

