<div class="resume">
    <div class="resume-left">
        <a href='https://postimages.org/' target='_blank'>
            <img src='https://i.postimg.cc/wvYf7GYx/bussiness-man.png' border='0' alt='bussiness-man'/></a>
          <span>Email:</span>
            <a href="#">jigang@vivaldi.net</a>
    </div>
    <div class="resume-entry">
        <%- page.content %>
    </div>
</div>