.article
  underline()
    &:hover
      text-decoration: underline
  .article-entry
    >a,>p>a,blockquote a,div.note a
      underline()
    >ul>li,>ol>li,tbody tr td
      >a,>p>a
        underline()
    div.tab-pane
      >p,li
        >a
          underline()

.article
  color: $color-p
  // word-break: break-all
  word-wrap: break-word
  img
    &.inline
      display: inline
    position: relative
    trans()
    @media screen and (max-width: $device-mobile)
      box-shadow: none
  div>img,p>img
    display: block
    margin: auto
    border-radius: 4px
    @media screen and (max-width: $device-mobile)
      border-radius: 2px
  span
    img
      display: inline
      margin: auto

  a
    word-break: break-word
  h1,h2,h3,h4,h5,h6
    &:first-child
      margin-top: $gap-row
      padding-top: 0
    &.title
      left: 0
      &:before
        content: none
  h1,h2
    padding-bottom: .2em
    margin-bottom: .5em
    border-bottom: 1px solid alpha($color-text, 10%)
  h1
    text-align: $textalign-h1
    color: $color-h1
    margin-top: $gap-h2
  h2
    text-align: $textalign-h2
    color: $color-h2
    margin-top: $gap-h2
  h3
    text-align: $textalign-h3
    color: $color-h3
    margin-top: $gap-h3
  h4
    text-align: $textalign-h4
    color: $color-h4
    margin-top: $gap-h4
  h5
    font-weight: bold
    color: $color-h5
    margin-top: $gap-paragraph
  h6
    color: $color-h6
    margin-top: $gap-paragraph

  center
    &,p
      text-align: center

  .aplayer
    margin: $gap-row 0
    display: inline-block
    width: 400px
    max-width: 100%
    border-radius: 4px
    color: #666

  p.small-img,
  div.small-img
    img
      width: auto
      max-width: 100%
      margin: 0
      box-shadow: none
  s,del
    opacity: 0.7
  u
    color: $color-hover
  kbd
    border-radius: $border-codeblock * 0.5
    border: 1px solid darken($color-inlinecode, 6)
    background: $color-inlinecode
    padding-left: 4px
    padding-right: 4px
    trans()
    &:hover
      cursor: default
      border-color: $color-theme
      background: $color-theme
      color: $color-inner
  p
    margin-top: $gap-paragraph
    margin-bottom: $gap-paragraph
    text-align: $textalign-p
    max-width: 100%
    line-height: inherit


  ul,ol
    font-size: $fontsize-list
    list-style: initial
    padding-left: 8px
    margin-left: $gap
    margin-top: $gap-row
    margin-bottom: $gap-row
    ul,ol
      margin-top: 0
      margin-bottom: 0
    li
      margin-top: 2px
      margin-bottom: 2px
      li
        margin-top: 0
        margin-bottom: 0
      p
        margin-top: $gap-row
        margin-bottom: $gap-row
    &.task-list
      padding-left: 0
      margin-left: 4px
      li
        list-style: none
        input
          margin-right: 4px


  ul>li
    list-style: initial
  ol>li
    list-style: decimal

  .subtitle
    h6
      color: alpha($color-text, 90%)

  figure
    figcaption
      span
        display: inline-block
        margin-right: 5px



  blockquote
    background: bgcolor($color-blockquote)
    border-left: $border-codeblock solid $color-blockquote
    border-radius: $border-codeblock

  blockquote
    &,p,ul,ol
      text-align: left
      word-wrap: normal
      font-size: $fontsize-list
      margin-top: $gap-row
      margin-bottom: $gap-row
    position: relative
    width: 100%
    padding: $gap-row + $fontoffset  $gap $gap-row $gap
    trans()
    footer
      padding: 0
      text-align: justify
      color: inherit
      font-style: italic
      margin: $gap-row 0
      cite
        &::before
          content: '----'
          padding: 0 .3em

        color: $color-meta
        margin-left: 1em


    &.pullquote
      &.right
        border-left: none
        border-right: $border-codeblock solid $color-blockquote
        p
          text-align: right

  pre
    display: block
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin-top: $gap-row
    margin-bottom: $gap-row
    overflow: auto
    background: $color-codeblock
    font-size: $fontsize-code
    font-family: $fontfamily-code
    border: 1px solid darken($color-codeblock, 6)
    padding: $gap
    border-radius: $border-codeblock
    >code:not([class])
      background: transparent
  div>pre
    border-radius: $border-codeblock
    &>code:not([class])
      padding: 0
      margin: 0
      background: transparent
      color: alpha($color-text, 90%)
  code
    font-family: $fontfamily-code
    &:not([class])
      padding: 3px 4px 1px 4px
      vertical-align: middle
      font-size: $fontsize-code
      background: $color-inlinecode
      border-radius: $border-codeblock * 0.5
      border: 1px solid darken($color-inlinecode, 6)


  @media screen and (max-width: $device-mobile)
    ul,ol
      font-size: $fontsize-meta
    figure
      font-size: 13px
      line-height: 1.5


  .widget
    background: transparent
    margin: $gap-row 0
    box-shadow: none
    border-radius: $border-codeblock
    cursor: auto
    background: $color-block
    padding: $gap * 0.5 0
    trans()
    &:hover
      box-shadow: none

    &:active
      box-shadow: none
    header
      padding: $gap * 0.25 .6em
      padding-bottom: 0
      &,a
        color: alpha($color-text, 85%)

    &.copyright,&.qrcode
      background: none
      padding: 0
      header
        display: none
      .content
        padding: 0
    width: 100%

    &.list, &.related_posts
      .content
        padding: 0 .6em !important
    .content
      padding: 0 .6em
      margin: 0
      ul
        padding-left: 9px
        margin-left: $gap
        a
          display: inline
          border-left: none
          padding: 0
          padding-left: 4px
          color: $color-link
          font-weight: normal
          &:hover
            text-decoration: underline
            color: $color-hover
          &:hover,&.active,&:active
            border-left: none !important
            background: none !important

      .list
        a
          .name
            display: inline
            color: $color-link
          &:hover
            .name
              text-decoration: underline
              color: $color-hover


    &.qrcode > .content
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      padding-left: $gap
      padding-right: $gap
      &>.fancybox, &>img
        margin: 0 $gap * 0.5

      img
        margin-bottom: 4px

      margin-bottom: 4px


  .article_footer
    margin-top: $gap * 4
  .widget-blur
    backdrop-filter: none

// nav to title
.article .article-entry>
  h1,h2,h3,h4,h5,h6
    position: relative
    pointer-events: none
    margin-top: 0
    margin-bottom: $gap-paragraph
    >a
      color: inherit
      pointer-events: auto
      &:hover
        color: $color-hover
    &:before
      content: ''
      display: block
      margin-top: 0 - $navbar-height -  $gap
      height: $navbar-height + $gap
      visibility: hidden
      pointer-events: none
  h1,h2
    &:before
      margin-top: $gap-h2 - $navbar-height - $gap
  h3
    &:before
      margin-top: $gap-h3 - $navbar-height - $gap
  h4
    &:before
      margin-top: $gap-h4 - $navbar-height - $gap
  h5
    font-weight: bold

article .readmore
  margin-top: $gap-paragraph
  >a
    font-size: $fontsize-meta
