footer
  position: relative
  padding: 40px 10px 120px 10px
  width: 100%
  color: alpha($color-site-footer, .5)
  margin: 0px auto
  &,p
    font-size: $fontsize-code
  overflow: hidden
  text-align: center

  .licenses
    color: fade(@color_text_main, 50%)
    text-decoration: underline

  .codename
    text-decoration: underline

  .social-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 4px $gap * 0.5
    font-size: $fontsize

  a
    color: alpha($color-site-footer, .75)
    padding: 0
    trans()
    &:hover
      color: $color-site-footer
    &.social
      position: relative
      display: inline-block
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      width: 36px
      height: 36px
      margin: 4px
      border-radius: 100px
      color: alpha($color-site-footer, .75)
      &:hover
        background: alpha($color-site-footer, .1)
        color: $color-site-footer
  .runtime
      span
        color: #ff00ff
        font-size: 15px
    //测色图标
  .github-pages
    .github-badge 
      display: inline-block;
      border-radius: 4px;
      text-shadow: none;
      font-size: 12px;
      color: #fff;
      line-height: 15px
      background-color: #ABBAC3;
      margin-bottom: 5px;
			
			.github-badge .badge-subject 
					display: inline-block;
					background-color: #4D4D4D;
					padding: 4px 4px 4px 6px;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;

			.github-badge .badge-value 
					display: inline-block;
					padding: 4px 6px 4px 4px;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;

			.github-badge .bg-brightgreen 
					background-color: #4c1 !important;

			.github-badge .bg-green 
					background-color: #97CA00 !important;

			.github-badge .bg-yellow 
					background-color: #dfb317 !important;

			.github-badge .bg-yellowgreen 
					background-color: #a4a61d !important;

			.github-badge .bg-orange 
					background-color: #fe7d37 !important;

			.github-badge .bg-red 
					background-color: #e05d44 !important;

			.github-badge .bg-blue 
					background-color: #007ec6 !important;

			.github-badge .bg-grey,   .github-badge .bg-gray 
					background-color: #555 !important;

			.github-badge .bg-lightgrey,   .github-badge .bg-lightgray 
					background-color: #9f9f9f !important;
			

  .copyright
    margin-top: $gap
    p
      font-size: $fontsize-footnote

  @media screen and (max-width: $device-tablet)
    justify-content: center
  
  //
