footer
  position: relative
  padding: 40px 10px 120px 10px
  width: 100%
  color: alpha($color-site-footer, .5)
  margin: 0px auto
  &,p
    font-size: $fontsize-code
  overflow: hidden
  text-align: center

  .licenses
    color: fade(@color_text_main, 50%)
    text-decoration: underline

  .codename
    text-decoration: underline

  .social-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 4px $gap * 0.5
    font-size: $fontsize

  a
    color: alpha($color-site-footer, .75)
    padding: 0
    trans()
    &:hover
      color: $color-site-footer
    &.social
      position: relative
      display: inline-block
      text-align: center
      display: flex
      justify-content: center
      align-items: center
      width: 36px
      height: 36px
      margin: 4px
      border-radius: 100px
      color: alpha($color-site-footer, .75)
      &:hover
        background: alpha($color-site-footer, .1)
        color: $color-site-footer



  .copyright
    margin-top: $gap
    p
      font-size: $fontsize-footnote

  @media screen and (max-width: $device-tablet)
    justify-content: center
