svg.loading
  display: block
  position: absolute
  color: var(--text-p3)
  width: 100%
  height: 2rem
  margin: auto
  animation: spin infinite 2s
  animation-timing-function: linear
  @keyframes spin
    from
      transform:rotate(0deg)
    to
      transform:rotate(360deg)
