.l_main
  .prev-next
    width: 100%
    display: flex
    justify-content: space-between
    align-items: baseline
    color: var(--color-meta)
    margin: 0
    font-weight: 600
    .prev
      text-align: left
      border-top-right-radius: 32px
      border-bottom-right-radius: 32px

    .next
      text-align: right
      border-top-left-radius: 32px
      border-bottom-left-radius: 32px

    p
      margin: $gap

    section
      color: var(--color-meta)
      padding: $gap
      border-radius: $border-card
      &:hover
        color: $color-hover


  // 文章中
  .article
    .prev-next
      width: 100%
      display: flex
      justify-content: space-between
      align-content: flex-start
      margin-top: $gap * 0.5
      >a
        width: 100%
        padding: $gap * 0.5
        color: var(--color-meta)
        background: var(--color-block)
        border-radius: $border-codeblock
        &:hover
          background: bgcolor($color-hover)
          p.title
            color: $color-hover
        p
          margin: $gap * 0.5 .5rem
        p.title
          font-weight: 600
          font-size: $fontsize-h5
          >i
            width: 1rem
        p.content
          font-size: $fontsize-meta
          font-weight: 400
          text-align: justify
          word-break: break-all
        &:only-child
          margin-left: 0
          margin-right: 0
      .prev
        p.title
          text-align: left
        margin-left: 0
        margin-right: $gap * 0.5

      .next
        p.title
          text-align: right
        margin-left: $gap * 0.5
        margin-right: 0
