div#rightmenu-wrapper
  display: none
  position:fixed
  z-index: 2000
  disable-user-select()
ul.list-v.rightmenu
  display: block
  li.navigation, li.music
    display: flex
    justify-content: space-between
    a.nav
      margin: 0
      padding: 0 $gap * 0.5
      i
        margin: 0
      &:first-child
        margin-left: 4px + $gap * 0.5
      &:last-child
        margin-right: 4px + $gap * 0.5
  li.music
    a.nav.volume
      &:hover
        background: transparent
      .aplayer-volume-bar
        margin: $gap * 0.5 0
        position: relative
        height: 8px
        width: 120px
        background: mix($color-block, $color-text, 95)
        border-radius: 8px
        overflow: hidden
        trans()
        &:hover
          height: 16px
        .aplayer-volume
          background: $color-theme
          height: 100%
          width: 100%
