$table-border-color = $color-block
$tbr = $borderradius-codeblock
div.tabs
  display: block
  position: relative
  margin-top: $gap-line
  margin-bottom: $gap-line
  border-bottom: 0
  border-radius: $tbr
  box-shadow: $boxshadow-card

div.tabs
  ul.nav-tabs
    display: flex
    overflow-x: scroll
    white-space: nowrap
    justify-content: flex-start
    margin: 0
    padding: 0
    padding-top: $borderradius-line
    background: darken($color-block, 2)
    border-radius: $tbr $tbr 0 0
    padding: 0 4px
    li.tab
      list-style-type: none
      border-radius: $tbr $tbr 0 0
      a
        display: block
        padding: $gap * 0.5
        margin: 0 2px
        text-align: center
        font-size: $fontsize-meta
        font-weight: bold
        color: $color-meta
        border-top: $borderradius-line solid transparent
        border-bottom: $borderradius-line solid transparent
        &:hover
          text-decoration: none
          color: $color-p
          border-bottom: $borderradius-line solid $color-meta
      &.active a
        cursor: default
        color: $color-p
        border-bottom: $borderradius-line solid $color-meta

  .tab-content
    overflow: hidden
    .tab-pane
      background: lighten($color-block, 2)
      border-top: 0
      border-radius: $tbr
      padding: $gap-inline $gap
      &:not(.active)
        display: none

      &.active
        display: block
        &:nth-of-type(1)
          border-radius: 0 $tbr $tbr $tbr
