p.p.subtitle
  font-weight: bold
  color: mix($color-theme, $color-text, 75)
  font-size: 1.25rem !important
  padding-top: 1.5rem
  &:first-child
    padding-top: 1rem

span.p,p.p
  &.logo
    font-family: $fontfamily-logo
  &.code
    font-family: $fontfamily-code
  &.left
    display: block
    text-align: left
  &.center
    display: block
    text-align: center
  &.right
    display: block
    text-align: right

span.p,p.p
  &.small
    font-size: $fontsize-meta
  &.large
    font-size: $fontsize-large
    line-height: 1.4
  &.huge
    font-size: $fontsize-huge
    line-height: 1.4
  &.ultra
    font-size: $fontsize-ultra
    line-height: 1.4
  &.small,&.large,&.huge,&.ultra
    margin: 0
    padding: 0
  &.bold
    font-weight: bold
  &.h1,&.h2
    padding-bottom: .2rem
    font-weight: 500
  &.h1
    font-size: $fontsize-h1
    color: var(--color-h1)
    padding-top: $gap-p * 2
  &.h2
    font-size: $fontsize-h2
    color: var(--color-h2)
    padding-top: $gap-p * 2
    border-bottom: 1px solid alpha($color-text, .1)
  &.h3
    font-size: $fontsize-h3
    color: var(--color-h3)
    padding-top: $gap-p * 2
  &.h4
    font-size: $fontsize-h4
    color: var(--color-h4)
    padding-top: $gap-p * 2
  &.h5
    font-size: $fontsize-h5
    color: var(--color-h5)
    padding-top: $gap-p * 1.5

span.p,p.p
  &.red
    color: $color-mac-red
  &.yellow
    color: $color-mac-yellow
  &.green
    color: $color-mac-green
  &.cyan
    color: $color-mac-cyan
  &.blue
    color: $color-md-blue
  &.purple
    color: $color-md-purple
  &.gray
    color: #999
