
p.p.subtitle
  font-weight: bold
  color: $color-theme
  padding-top: $gap
  &:first-child
    padding-top: 0

span.p,p.p
  &.left
    display: block
    text-align: left
  &.center
    display: block
    text-align: center
  &.right
    display: block
    text-align: right

span.p,p.p
  &.small
    font-size: $fontsize-meta
  &.large
    font-size: $fontsize-large
    line-height: 1.3
  &.huge
    font-size: $fontsize-huge
    line-height: 1.3
  &.ultra
    font-size: $fontsize-ultra
    line-height: 1.3
  &.small,&.large,&.huge,&.ultra
    margin: 0
    padding: 0
  &.bold
    font-weight: bold

span.p,p.p
  &.red
    color: $color-mac-red
  &.yellow
    color: $color-mac-yellow
  &.green
    color: $color-mac-green
  &.cyan
    color: $color-mac-cyan
  &.blue
    color: $color-md-blue
  &.gray
    color: #666
