//highlight dark
dark_highlight()
  .gutter
    background: var(--color-card) !important
    background-color: var(--color-card) !important
  .highlight figcaption
    background-color: #14161a
  .highlight pre .line, .highlight pre .params
    color: rgba(158, 142, 142, 0.9)
volantis-dark(dark_highlight)
