<%
let author = theme.article.body.meta_library.author;
let aid = post.author;
if (aid && site.data && site.data.author && (aid in site.data.author)) {
  author = site.data.author[aid];
}
%>
<div class='new-meta-item author'>
  <a class='author' href="<%- author.url %>" rel="nofollow">
    <img no-lazy src="<%- author.avatar %>">
    <p><%- author.name %></p>
  </a>
</div>
