<% if (post.categories && post.categories.length){ %>
  <div class='new-meta-item category'>
    <a class='notlink'>
      <i class="<%- theme.meta.category.icon %> fa-fw" aria-hidden="true"></i>
      <%- list_categories(post.categories, {
          show_count: false,
          separator: '<span class="sep"></span>',
          style: 'none'
          }) %>
    </a>
  </div>
<% } %>
