<% if(!isPostList){ %>
  <% if (theme.plugins.busuanzi) { %>
    <div class="new-meta-item browse busuanzi">
      <a class='notlink'>
        <i class="<%- theme.meta.counter.icon %>" aria-hidden="true"></i>
        <p>
          <span id="busuanzi_value_page_pv">
            <i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
          </span>
        </p>
      </a>
    </div>
  <% } %>
<% } %>
