<div class="new-meta-item date">
  <a class='notlink'>
    <i class="<%- theme.meta.date.icon %> fa-fw" aria-hidden="true"></i>
    <p><%- theme.meta.date.title + date(post.date, theme.meta.date.format) %></p>
  </a>
</div>
