<% if(post.thumbnail && post.thumbnail.length){ %>
  <a title='<%- post.title %>' href='<%- url_for(post.link || post.path) %>'  itemprop="url" itemscope itemtype="http://schema.org/ImageObject">
    <img class='thumbnail' src='<%- post.thumbnail %>' itemprop="contentUrl">
  </a>
<% } %>
