<% if(isPostList){ %>
  <h2 class="title">
    <a href="<%- url_for(post.path) %>">
      <%- post.title ? post.title : date(post.date, theme.date_format) %>
    </a>
  </h2>
<% } else { %>
  <% if (post.title || page.title || config.title) { %>
    <h1 class="title">
      <a href="<%- url_for(post.path) %>">
        <%- post.title ? post.title : date(post.date, theme.date_format) %>
      </a>
    </h1>
  <% } %>
<% } %>
