<% if(isPostList){ %>
  <h2 class="title">
    <a href="<%- url_for(post.link || post.path) %>">
      <%- (post.title || post.seo_title) ? (post.title || post.seo_title) : date(post.date, theme.meta.date.format) %>
    </a>
  </h2>
<% } else { %>
  <h1 class="title">
    <a href="<%- url_for(post.link || post.path) %>">
      <%- (post.title || post.seo_title) ? (post.title || post.seo_title) : date(post.date, theme.meta.date.format) %>
    </a>
  </h1>
<% } %>
