<% if(isPostList && post.top){ %>
  <div class="new-meta-item top-post">
    <a class='notlink'>
      <i class="<%- theme.meta.top.icon %> fa-fw" aria-hidden="true"></i>
      <p>TOP</p>
    </a>
  </div>
<% } %>
