<div class="new-meta-item date" itemprop="dateModified" datetime="<%- moment(post.updated).format() %>">
  <a class='notlink'>
    <i class="<%- theme.article.body.meta_library.updated.icon %> fa-fw" aria-hidden="true"></i>
    <p><%- theme.article.body.meta_library.updated.title + date(post.updated, theme.article.body.meta_library.updated.format) %></p>
  </a>
</div>
