<div class="new-meta-item date" itemprop="dateUpdated" datetime="<%- moment(post.updated).format() %>">
  <a class='notlink'>
    <i class="<%- theme.meta.updated.icon %> fa-fw" aria-hidden="true"></i>
    <p><%- theme.meta.updated.title + date(post.updated, theme.meta.updated.format) %></p>
  </a>
</div>
