<% if (theme.comments.service == 'valine'){ %>
<div class="new-meta-item comments-count">
  <%
    var path = post.path || page.path;
    if (path.length > 9 && (path.substring(path.length - 10) == 'index.html')) {
      path = path.substring(0, path.length - 10);
    }
  %>
  <a href="<%- url_for(path) %>#comments">
    <i class="<%- theme.article.body.meta_library.valinecount.icon %> fa-fw"></i>
    <span class="valine-comment-count" data-xid="<%- url_for(path) %>">0</span>
    <span class="leancloud-comments-count">&nbsp;<%- theme.article.body.meta_library.valinecount.desc %></span>
  </a>
</div>
<% } %>
