<% if (theme.comments.service == 'waline'){ %>
<div class="new-meta-item comments-count">
  <% 
    let commentPath;
    let path = post.path || page.path;
    if (theme.comments.service && theme.comments.service.length > 0) {
      let service = theme.comments.service;
      if (page.comments == undefined || page.comments != false) {
        if (service in page && page[service].path) {
          commentPath = page[service].path;
        }
      }
    }
    if(!!theme.comments.waline.path) path = theme.comments.waline.path
    if(commentPath) path = commentPath;
    path = path.replaceAll('/index.html', '/').replaceAll('.html', '')
  %> 
  
  <a href="<%- url_for(path) %>#comments">
    <i class="<%- theme.article.body.meta_library.walinecount.icon %> fa-fw"></i>
    <p>
      <span data-path="<%- url_for(path) %>" class="waline-comment-count">
        <i class="fa-solid fa-loader fa-spin fa-fw" aria-hidden="true"></i>
      </span> 
      <% if(theme.article.body.meta_library.walinecount.desc) { %> 
        <span class="leancloud-comments-count">&nbsp;<%- theme.article.body.meta_library.walinecount.desc %></span> 
      <% } %> 
    </p>
  </a>
</div>
<% } %>
