<% if (theme.plugins.wordcount) { %>
  <div class="new-meta-item wordcount">
    <a class='notlink'>
      <i class="<%- theme.meta.wordcount.icon_wordcount %> fa-fw" aria-hidden="true"></i>
      <p><%- __('post.wordcount', wordcount(post.content))%></p>
    </a>
  </div>
  <div class="new-meta-item readtime">
    <a class='notlink'>
      <i class="<%- theme.meta.wordcount.icon_duration %> fa-fw" aria-hidden="true"></i>
      <p><%- __('post.duration', min2read(post.content))%></p>
    </a>
  </div>
<% } %>
