name: PR update
on:
  push:
    branches:
      - main

jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: update all prs
        uses: maxkomarychev/pr-updater-action@v1.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
